VITE_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
VITE_STRIPE_PRICE_1=price_example_for_product_1
VITE_STRIPE_PRICE_2=price_example_for_product_2
VITE_STRIPE_PRICE_3=price_example_for_product_3
VITE_STRIPE_PRICE_4=price_example_for_product_4
VITE_STRIPE_PRICE_5=price_example_for_product_5
VITE_STRIPE_PRICE_6=price_example_for_product_6
