VITE_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
VITE_STRIPE_PRICE_1=price_example_for_product_1
VITE_STRIPE_PRICE_2=price_example_for_product_2
VITE_STRIPE_PRICE_3=price_example_for_product_3
VITE_STRIPE_PRICE_4=price_example_for_product_4
VITE_STRIPE_PRICE_5=price_example_for_product_5
VITE_STRIPE_PRICE_6=price_example_for_product_6
VITE_GOOGLE_REVIEWS_URL=https://g.page/r/YOUR_GOOGLE_REVIEW_LINK
VITE_INSTAGRAM_PROFILE_URL=https://www.instagram.com/yourprofile
VITE_INSTAGRAM_CARDS=https://www.instagram.com/p/POST_1/|/instagram/post-1.jpg|Blue and gold set,https://www.instagram.com/reel/REEL_1/|/instagram/reel-1.jpg|Runway reel
GOOGLE_PLACES_API_KEY=your_google_places_server_key
GOOGLE_PLACE_ID=your_google_business_place_id
GITHUB_OAUTH_CLIENT_ID=your_github_oauth_client_id
GITHUB_OAUTH_CLIENT_SECRET=your_github_oauth_client_secret
CMS_BASE_URL=https://www.riasboutique.com
